

.sub-title {
    color: #FFFFFFB3;
    font-family: "Dancing Script", Sans-serif;
    font-size: 55px;
    font-weight: 400;
    text-transform: none;
    margin-top: 150px;
    margin-left: -60px;
    margin-bottom: 30px;
    text-align: center;
}

/* Estilo para captionDelay8 */


/* Estilo para fromTop */

/* General box-sizing rule for Elementor */
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

.inicio{
    margin-top: -80px;
    background-color:   rgb(3, 17, 145) !important;;
    margin-left: 0px;
    width: 1940px;
    padding: 30px;
    height: 770px;
  margin-bottom: -25px!important;
}

.inicio h1{
 
    color: #ffffff;
    font-family: "Crimson Pro", Sans-serif;
    font-size: 95px;
    font-weight: 800;
    line-height: 95px;
    letter-spacing: 3px;
    margin: 50px 50px 50px 170px;
}

@media (max-width: 820px) {
    .inicio {
margin-left: 0px;
    margin-top: 0px;
      width: auto; /* Ancho completo */
      height: 1006px; /* Ajustar altura automáticamente */
      padding: 30px; /* Reducir padding */
      margin-bottom: -200px;
    }


    
    .inicio h1{
        font-size: 80px;
        margin: 20px 50px 50px 170px !important;
    }
.sub-title {
    color: #FFFFFFB3;
    font-family: "Dancing Script", Sans-serif;
    font-size: 65px;
    font-weight: 400;
    text-transform: none;
    margin-top: 50px;
    margin-left: -100px !important;
    margin-bottom: 30px;
    text-align: center;
}
}


@media (max-width: 430px) {
    .inicio {
/* Eliminar margen negativo */
   margin-top: 50px;
      width: 500px; /* Ancho completo */
      height: 882px; /* Ajustar altura automáticamente */
     padding: 10px;
     margin-left: 0px;
    }
  
    .inicio h1 {
      
      font-size: 1.5rem !important; /* Ajustar tamaño de fuente */
    }
  
    .inicio h4{
      margin-left: -0px !important;
    }

  .inicio h1{
    font-size: 49px !important;
    margin: 7px 48px 50px 48px !important;
}
  
    .inicio .btn {
      display: block;
      
      width: 70%;
      margin-left: 3px;
      font-size: 1rem;
    }
  }
  
  
