.password{
      
 
    margin-top: -80px;
    background-color:   rgb(3, 17, 145) !important;;
    margin-left: 0px;
    width: 1920px;
    padding: 30px;
    height: 770px;
  margin-bottom: -25px!important;


}

.password h2{

    margin-top:  200px !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 32px !important;
}

.password .form-group {
    margin-top: 40px !important;
    font-size: 20px !important;
    color: white !important ;
}


.password .btn {
    margin-top: 40px !important;
    font-size: 20px !important;
}



@media (max-width: 820px) {
    .password {
margin-left: 2px;
    margin-top: 0px;
      width: auto; /* Ancho completo */
      height: 1006px; /* Ajustar altura automáticamente */
      padding: 30px; /* Reducir padding */
      margin-bottom: -200px;
    }


    
    .password h2{
        font-size: 70px !important;

    }
  
    .password .btn{
        width: 200px;
       height: 90px;
       margin-top: 100px !important;
       font-size: 25px !important;
       margin-left: 200px !important;
       margin-right: -180px !important;
    }

    .password .btn-link{
        margin-top: 70px !important;
        margin-left: 200px;
    }
}