*{

  /*color: rgb(233,349,254)
   background-color: rgb(159, 39, 181);
   
   background-color: rgb(27, 25, 64);

   */
 margin: 0;
 box-sizing: border-box;
}

.navbar {
    background-color: rgb(159, 39, 181);
  position: relative;
  margin-left: -10px;
  margin-top:-30px;
  width: 1950px;
padding: 45px !important;
}

.navbar li{
  margin-top: 30px !important;
}
.navbar li:first-child{
  color: white !important;
  margin-left: 210px;
}
.navbar-brand {
  font-size: 30px !important;
  width: 150px;
  font-weight: bold !important;
  margin-top: 30px;
 color: white !important;
 margin-left: 330px !important;
 
}


.navbar-toggler {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1000;
}

.navbar-nav {

  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 10px;
  font-size: 20px;

}
.nav-link {
  color: rgb(233,349,254) !important;
  transition: color 0.3s ease;

}

.navbar-nav .nav-link:hover {
  color: #15ff00 !important;
  transform: scale(1.2);
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-login {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-login .btn {
  transition: none;
  font-size: 1em;
  margin-right: 10px;
}

.cart-dropdown {
  position: absolute;
  top: 150px;
  right: 620px;
  width: 300px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 1000;

}

.cart-dropdown h4 {
  margin-bottom: 15px;
  
}

.cart-dropdown .list-group {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.cart-dropdown .list-group-item {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cart-dropdown .list-group-item:first-child {
  margin-top: 0;
  margin-left: 0;
  color: black !important;
  
}


/* footer*/

.footer {
  background-color:    #5dff4f !important;
  color: #333;
  text-align: center;
  padding: 0px;
  width: 1940px;
  height: 80px;
 margin-top: 25px;

}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
margin-bottom: -3300px !important;

}

.footer h2 {
 
  font-size: 24px;
  font-weight: bold !important;
 margin-top: 20px !important;

}

.footer p {
  margin-left: 25px;
margin-top: 33px !important;
  font-size: 18px;
  font-weight: 600 !important;
}